### 1.  What is the data type of print(type(10))
* float
* integer
* int

In [7]:
# INT CORRECT

### 2. What is the result of print(type([]) is list)
* False
* True

In [17]:
# TRUE CORRECT

### 3. str1 = "PYTHON150"
print(str1[1:4], str1[:5])
* PYTH,  PYTHON
* PYTH, PYTHO
* YTH, PYTHO
* Note: Commas only used for display

In [18]:
# YTH, PYTHO CORRECT

### 4. str1 = "PYTHON150"
print(str1[4:], str1[0:-1])
* N150, PYTHON150
* ON150, PYTHON15
* ON150, PYTHON150
* Note: Commas only used for display

In [19]:
# ON150, PYTHON15 CORRECT

### 5. str1 = "PYTHON150"
print(str1[:-1])
* PYTHON150
* PYTHON15
* PYTHON1
* Note: Commas only used for display

In [20]:
# PYTHON15 CORRECT

### 6.  print("John" > "Jhon")
### print("Emma" < "Emm")
* True True
* True False
* False TRue
* False False

In [ ]:
# TRUE FALSE CORRECT

### 7. Strings are immutable in Python, which means a string cannot be modified.
* True
* False

In [ ]:
# TRUE CORRECT

### 8. str1 = 'Welcome'
print (str1[:6] + 'Class')
* WelcomClass
* WelcomeClass
* Welcom Class
* Welcome Class

In [ ]:
# WelcomClass CORRECT

### 9. str = "how are you all doing"
print (str.capitalize())
* How are you all doing
* How Are You All Doing

In [ ]:
# How are you all doing CORRECT

### 10. str = "how are you all doing"
print (str.title())
* How are you all doing
* How Are You All Doing

In [ ]:
# How Are You All Doing CORRECT

### 11. str1 = 'Welcome'
print(str1*2)
* Welcome Welcome
* WelcomeWelcome
* TypeError unsupported operand type(s)

In [ ]:
# WelcomeWelcome CORRECT

### 12. Random integer between 99 to 200, which is divisible by 3, print the value of a,b,c
* random.randrange(a, b, c)

In [21]:
import random
random.randrange(99,200,3)

99

### 13. What is the output of print(2 ** 3 ** 2)
* 64
* 512

In [15]:
# 512 CHECKS RIGHT TO LEFT

### 14. print(2%6)
* ValueError
* 0.33
* 2

In [ ]:
# 2

### 15. What is the output of print(10 - 4 * 2)
* 2
* 12

In [ ]:
# 2

### 16. for i in "STR":
     print(i)
* STR
* S
- T
- R

In [ ]:
# S
# T
# R

### 17. a="Learn"
### while(a):
    print(a)
* Infinite Loop
* L
* e
* a
* r
* n

In [ ]:
# INFINITE LOOP